html
{
    background-image: url(backgroundplaceholder.jpg);
    background-size: cover;

    /* background-color: #F3F6F7; */

    /* background: linear-gradient(-45deg, #fa9779, #ff78ac, #6acff7, #6bedd1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
}


.mainDiv
{
    position: relative;
    top: 20px;
    margin: auto;
    margin-top: auto;
    width: 1300px;
    height: 650px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#navbar{
    position: relative;
    top: 25px;
    left: 20px;
    width: min-content;

}

#navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.allPages{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 40px;
    text-transform: uppercase;
    font-family: "Noto Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 80;
    font-size: 25px;
    color: black;
    opacity: 0.5;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.5s;    
}

#currentPage{
    text-decoration: underline rgba(0, 0, 0, 0.3) 1px;
    text-underline-offset: 10px;
}

.allPages:hover{
    opacity: 0.9;
    transition: 0.7s;  
    font-weight: 300;
    font-variation-settings: "wdth" 65;
}


#mainHeading{
    /*weight must be from 100 to 900*/
    margin: 0;
    font-family: "Noto Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 130px;
    position: relative;
    top: 160px;
    left: 110px;
    color: black;
    opacity: 0.7;
}

#mainCathphrase{
    margin: 0;
    width: 400px;
    position: relative;
    top: 150px;
    left: 300px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: black;
    opacity: 0.7;
}